<div class="staticCard">
  <img class="card-profile-picture"
       src="https://randomuser.me/api/portraits/thumb/lego/2.jpg">
  <div class="card-actions">
    <button class="follow-button">Follow</button>
  </div>
  <div class="card-content">
    <h3>Ravi Kumar</h3>
    <p>One of the greatest artist, dealing with canvas paintings.</p>
  </div>
</div>
