{{#link-to 'question' question.id}}
<div class="col-xs-6">
  <div class="question-tile-box">
    <img class="question-image" src={{question.image}}>
    <h2>{{question.content}}</h2>
    <h3>Asked by: {{question.author}}</h3>
  </div>
</div>
{{/link-to}}