/* table {
    width:100%;
    border:1px solid;
}
table td:nth-child(2){
    background-color: blueviolet;
 }
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} 
table th {
    background-color: black;
    color: white;
}
.changecolor td:nth-child(2){
    background-color: green !important;
 } */

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

body {
  font-family: 'Merriweather', sans-serif;
  background-color: darkgoldenrod;
}

.title {
  text-align: center;
  font-size: 50pt;
  color: #7f0000;
}

.navbar {
  text-align: center;
  font-size: 20pt;
}

.navbar:hover {
  opacity: 0.5;
}

a {
  color: #7f0000;
}

a:hover {
  color: black;
}

.navbar a {
}

.navbar a:hover {
  color: #7f0000;
  text-decoration: none;
}

.detail-image {
  max-height: 450px;
  width: 320px;
}

.detail-image-box {
  text-align: center;
  background-color: white;
  border: solid grey 3px;
  border-radius: 10px;
  overflow: hidden;
}

.detail-content {
}

.detail-body {
  font-size: 14pt;
}

.modify-buttons {
  text-align: center;
}

.delete-button {
  margin-top: 10px;
  font-size: 30pt;
  border-radius: 10px;
  background-color: #b20000;
  border: inset #660000;
}

.delete-button:hover {
  opacity: 0.6;
}

.update-button:hover {
  opacity: 0.6;
}

.update-button {
  font-size: 30pt;
  border-radius: 10px;
  background-color: #7f0000;
  border: inset #492C49;
}

.question-image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.question-tile-box {
  text-align: center;
  overflow: hidden;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  height: 450px;
}

.question-tile-box:hover {
  opacity: 0.5;
}

.new-question-box {
  text-align: center;
  padding: 13px;
  border: solid black 3px;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: white;
  opacity: 0.8;
}

.avatar-selection-box {
  min-height: 820px;
}

.new-question-box:hover {
  opacity: 1;
}

.new-question-body {
  font-size: 18pt;
  width: 700px;
  height: 200px;
}

.update-question-body {
  font-size: 18pt;
  width: 100%;
  height: 200px;
}

.new-question-field {
  font-size: 18pt;
  width: 100%;
  height: 40px;
}

.question-button {
  background-color: #7f0000;
  font-size: 20pt;
  border-radius: 10px;
  color: white;
}

.all-answers-box {
  background-color: lightgrey;
  opacity: 0.95;
  border: solid grey 3px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.single-answer {
  border: solid black 3px;
  border-radius: 10px;
  max-width: 100%;
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
  background-color: grey;
  font-size: 16pt;
  color: black;
}

.answer-content-text {
  font-size: 30pt;
}

.answer-avatar {
  border: solid black 2px;
  border-radius: 10px;
  height: 200px;
  width: 160px;
}

.avatar-choice {
  width: 100%;
  height: 100%;
}

.avatar-choice:hover {
  opacity: 0.5;
  cursor: pointer;
}

.answer-avatar {
  width: 100%;
  height: 500px;
}

.selected-avatar {
  border: dotted #7f0000 3px;
}

.delete-answer {
  margin-top: 10px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #b20000;
  border: inset #660000;
}

.delete-answer:hover {
  opacity: 0.7;
}

.update-answer {
  margin-top: 20px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #7f0000;
  border: inset #492C49;
}

.update-answer:hover {
  opacity: 0.7;
}

.credits {
  margin-top: 20px;
  text-align: center;
}

.credits a:hover {
  text-decoration: none;
  color: #b20000;
}