
<br><br>
<header> <em>Products Info</em></header> <br>

<section><small>
Liril is a popular soap brand sold, to a large degree, in India, 
and Asia, as well as a few places in Europe. The soap is currently
 manufactured by Hindustan Lever Limited in India. Liril launched 
 a blue variant called Icy Cool Mint in 2002. It also tried 
 launching an Orange variant, called Liril Orange Splash in 
 India in 2004. Neither of these variants created much splash in 
 the market. The company even changed agencies handling the 
 brand, from Lowe to McCann Erickson before going back to Lowe. </small>
</section>

<button >Create a product</button>
{{#link-to 'product.new'}}Create a product{{/link-to}}
{{outlet}}